<!DOCTYPE html>
<html>
    <head>
        <title>MVC</title>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        {# import css #}
        {# {{ encore_entry_link_tags('app') }} #}
        <link rel="stylesheet" type="text/css" href="{{ app.request.getBaseURL() }}/style.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;600&display=swap" rel="stylesheet">
        {# <link rel="stylesheet" type="text/css" href="{{ asset('build/app.css') }}"> #}
    </head>
    <body>
        <header>
        
        <h1 class="game-title">Game 21</h1>
        
            <nav>
                <div class="game-nav">
                    <a href='{{ app.request.getBaseURL() }}/'>Start</a>
                    <a href='{{ app.request.getBaseURL() }}/top-scores'>Scores</a>
                    <a href='{{ app.request.getBaseURL() }}/bank'>Buy credit</a>
                </div>
                <div class="login-nav">
                    <a href='{{ app.request.getBaseURL() }}/login'>Login</a>
                    <a href='{{ app.request.getBaseURL() }}/logout'>Logout</a>
                </div>
            </nav>
        </header>

        <main>
            {% block content %}{% endblock %}
        </main>

        <footer>
            <p>&#169; Developed by Anya Kovalieva</p>
        </footer>
    </body>
</html>
