{% extends "mvc-layout.html.twig" %}

{% block content %}
<div class="game21-wrapper">
    
    <div class="player-computer-title">
        <p>{{ player }} VS Computer</p>
        {% if loggedIn and credit > 0 %}
        <p> {{ player }} has {{ credit }}
        {% endif %}
        {% if not player == "anonymous" and not bet %}
        <p> you have to bet to play</p>
        {% endif %}
    </div>
    
    <div class="game-panel">
        <div class="game-score">
            <p> Game Score</p>
            <table class="rounds">
                <tr>
                    <th>You</th>
                    <th>Computer</th>
                </tr>
                {% for score in app.session.get('score') %}
                    <tr>
                        <td>{{ score.0 }}</td>
                        <td>{{ score.1 }}</td>
                    </tr>
                {% endfor %}
            </table>

        </div>
        <div class="game-operation">
            {% if app.session.get('message') == "" %}
                <form class="play-panel" method="POST">
                    <fieldset 
                        {% if player != "anonymous" and not bet %} 
                            disabled 
                        {% endif %} >
                        <input type="submit" name="button1" class="roll-button" value="Roll" />
                        <input type="submit" name="button2" class="roll-button" value="Pass" />
                    </fieldset>
                </form>
            {% else %}
                <div class="player-computer-title">
                    <h3 style="color: red; font">{{ app.session.get('message') }}</h3>
                    <p><a href="{{ app.request.getBaseURL() }}/reset"><input type='submit' class='new-game-button' value='NEXT ROUND'/></a></p>
                </div>
            {% endif %}
            <div class="game-score">
                <p id="sum ">You rolled : {{ app.session.get('rollPlayer') }} Total: {{ app.session.get('totalPlayer') }}</p>
                <p>Computer rolled: {{ app.session.get('rollComputer') }} Total: {{ app.session.get('totalComputer') }}</p>
            </div>
                <p>
                    <a href='{{ app.request.getBaseURL() }}/save-score'>
                        <input type='submit' class="new-game-button" value='NEW GAME'/>
                    </a>
                </p>
        </div>
        <div class="game-betting">
            {% if loggedIn and credit > 0 %}
                <form method="post">
                    {% if not bet %}
                        <p>Make a bet</p>
                        <input type="number" min="10" max='{{ credit }}' step="5" name="bet-ammount">
                        <input type="submit" name="bet-button" class="bet-button" value="Bet" />
                    {% endif %}
                    {% if bet %}
                        <p>You are betting</p>
                        <h1>{{ bet }}</h1>
                    {% endif %}
                </form>
            
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
